*.pyc
*.pyo
*.log
*.idea
*.swp
*.un~
*.sqlite
stubs
*.iml
.project
env
env/*
.pydevproject
.settings/
htmlcov/*
htmlcov
build/*
nginx-repo.crt
nginx-repo.key
.coverage
naas_agent.yaml
.cache/*
.cache
*~
.DS_Store
